// Widths & Breakpoints
$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 767px;
$bp-lg: 992px;
$bp-xl: 1200px;

// Spacings
$sp-xsmall: rem-calc(16);
$sp-small: rem-calc(32);
$sp-medium: rem-calc(48);
$sp-large: rem-calc(60);
$sp-xlarge: rem-calc(72);

// Display Constants
$border-radius-small: 0.2em;