@import '../../../styles/baseline/_styles';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: 40%;

  @include respond-to($bp-sm) {
    flex-basis: 60%;
  }
}